@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Poppins" sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
}


.card_parent {
  width: 100%;
  height: 100dvh;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 375px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top_section {
      width: 100%;
      height: 100%;
      background-image: url("./assets/bg_img.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      overflow: hidden;

      &::after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
      }

      .profile {
        width: 100%;
        position: absolute;
        height: auto;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 2;
        border-radius: 35px 35px 0px 0px;
        background: white;
        padding: 30px 10px;

        .image {
          width: 150px;
          aspect-ratio: 1;
          border-radius: 50%;
          background-image: url("./assets/bg_img.jpeg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          position: relative;
        }

        h4 {
          text-align: center;
          font-size: 26px;
          line-height: 110%;
          font-weight: 500;
         
        }

        p {
          font-size: 20px;
        
        }

        .btn {
          padding: 10px 20px;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(255, 115, 0);
          color: white;
          border-radius: 25px;
          cursor: pointer;
        }
      }
    }

    .bottom_section {
      width: 100%;
      height: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .tabs {
        height: auto;
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% / 4);
          height: 100%;
          //   border-right: 1px solid black;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          P {
            font-size: 14px;
          }

          &:last-child {
            border: none;
          }

          &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: -100%;
            transition: all 0.5s ease-in-out;
          }

          img {
            width: 40%;
            // filter: drop-shadow(0px 0px 10px #e87924);
          }

          svg {
            font-size: 24px;
            color: rgb(255, 115, 0);
            filter: drop-shadow(0px 0px 10px #e87924);
          }

          &:hover {
            &::after {
              left: 0;
            }
          }

          &.active {
            &::after {
              left: 0;
              background-color: rgb(255, 115, 0);
            }
          }
        }
      }

      .content {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .social_medi {
          width: 100%;
         
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 10px;

          padding: 20px 10px;

          .cont {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 10px;
            background-color: white;
            // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.205);
            // overflow: hidden;
            border-radius: 20px;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              border: 1px solid rgb(255, 115, 0);
              //   border-radius: 50%;
              border-radius: 10px;

              svg {
                color: rgb(255, 115, 0);
                font-size: 20px;
              }
            }

            a {
              padding: 10px;
              text-decoration: none;
              color: black;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
